<head>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
</head>
<div class="row" id="caardheading">

    <h1 style=" ">What We Provide?</h1>
</div>


<div class="row" id="card-container">
    <div class="col-sm-3" id="small-cards">
        <mat-card class="card">
            <mat-card-title>
                <img src="../../assets/gift.png" alt="products" >               
                <h1  style="font-family: 'Raleway', sans-serif;">PRODUCTS</h1>

            </mat-card-title>
        </mat-card>
    </div>
    <div class="col-sm-3" id="small-cards">
        <mat-card class="card">
            <mat-card-title>
                <img src="../../assets/work.png" alt="products" >

                <h1  style="font-family: 'Raleway', sans-serif;">OFFICE</h1>
            </mat-card-title>
        </mat-card>
    </div>
    <div class="col-sm-3" id="small-cards">
        <mat-card class="card">
            <mat-card-title>
                <img src="../../assets/24-hours.png" alt="products"  >
                <h1  style="font-family: 'Raleway', sans-serif;">SERVICES</h1>
            </mat-card-title>
        </mat-card>
    </div>
    <div class="col-sm-3" id="small-cards">
        <mat-card class="card">
            <mat-card-title>
                <img src="../../assets/book.png" alt="products" >
                <h1  style="font-family: 'Raleway', sans-serif;">LEARNING</h1>
            </mat-card-title>
        </mat-card>
    </div>

</div>